on:
  push:
    tags:
      - '*'

name: Update Pages

jobs:
  pages:
    name: GitHub Pages
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Set up JDK 16-ea
      uses: actions/setup-java@v1
      with:
        java-version: 16-ea
    - name: Build with Maven
      run: mvn javadoc:javadoc -B
    - name: Upload Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./target/site/apidocs
