name: Unit Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Check for Updates
      run: mvn -B versions:display-dependency-updates versions:display-plugin-updates
    - name: Run Unit Tests
      run: mvn -B test
    - name: Build with Maven
      run: mvn -B package
    - name: Build with Maven (Shade)
      run: mvn -Dshade=true -B package
