name: Unit Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [8, 11, 12, 13, 14, 15-ea, 16-ea]

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK ${{ matrix.java-version }}
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java-version }}
    - name: Check for Updates
      run: mvn -B versions:display-dependency-updates versions:display-plugin-updates
    - name: Run Unit Tests
      run: mvn -B test
    - name: Build with Maven
      run: mvn -B package
    - name: Build with Maven (Shade)
      run: mvn -Dshade=true -B package

  examples:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Build with Maven
      run: mvn install -DskipTests=true -Dmaven.javadoc.skip=true -Dshade=true -B -V
    - name: Run Examples
      run: WATSET=$PWD/target/watset.jar make -C examples CommandLine

  shellcheck:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    - name: Run ShellCheck
      run: docker run --rm -v "$PWD:/mnt" koalaman/shellcheck:stable
